<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dlz.framework.ssme.db.dao.ContentTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.dlz.framework.ssme.db.model.ContentTemplate" >
    <id column="TEMPLATE_ID" property="templateId" jdbcType="DECIMAL" />
    <result column="TEMPLATE_NAME" property="templateName" jdbcType="VARCHAR" />
    <result column="TEMPLATE_TYPE" property="templateType" jdbcType="CHAR" />
    <result column="CRT_DATE" property="crtDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPT_DATE" property="lastUptDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.dlz.framework.ssme.db.model.ContentTemplate" extends="BaseResultMap" >
    <result column="TEMPLATE_CONTENT" property="templateContent" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TEMPLATE_ID, TEMPLATE_NAME, TEMPLATE_TYPE, CRT_DATE, LAST_UPT_DATE
  </sql>
  <sql id="Blob_Column_List" >
    TEMPLATE_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.dlz.framework.ssme.db.model.ContentTemplateCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_B_TEMPLATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dlz.framework.ssme.db.model.ContentTemplateCriteria" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_B_TEMPLATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_B_TEMPLATE
    where TEMPLATE_ID = #{templateId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from T_B_TEMPLATE
    where TEMPLATE_ID = #{templateId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.dlz.framework.ssme.db.model.ContentTemplateCriteria" >
    delete from T_B_TEMPLATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dlz.framework.ssme.db.model.ContentTemplate" >
    insert into T_B_TEMPLATE (TEMPLATE_ID, TEMPLATE_NAME, TEMPLATE_TYPE, 
      CRT_DATE, LAST_UPT_DATE, TEMPLATE_CONTENT
      )
    values (#{templateId,jdbcType=DECIMAL}, #{templateName,jdbcType=VARCHAR}, #{templateType,jdbcType=CHAR}, 
      #{crtDate,jdbcType=TIMESTAMP}, #{lastUptDate,jdbcType=TIMESTAMP}, #{templateContent,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dlz.framework.ssme.db.model.ContentTemplate" >
    insert into T_B_TEMPLATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="templateId != null" >
        TEMPLATE_ID,
      </if>
      <if test="templateName != null" >
        TEMPLATE_NAME,
      </if>
      <if test="templateType != null" >
        TEMPLATE_TYPE,
      </if>
      <if test="crtDate != null" >
        CRT_DATE,
      </if>
      <if test="lastUptDate != null" >
        LAST_UPT_DATE,
      </if>
      <if test="templateContent != null" >
        TEMPLATE_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="templateId != null" >
        #{templateId,jdbcType=DECIMAL},
      </if>
      <if test="templateName != null" >
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null" >
        #{templateType,jdbcType=CHAR},
      </if>
      <if test="crtDate != null" >
        #{crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUptDate != null" >
        #{lastUptDate,jdbcType=TIMESTAMP},
      </if>
      <if test="templateContent != null" >
        #{templateContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select resultType="java.lang.Integer" id="countByExample" parameterType="com.dlz.framework.ssme.db.model.ContentTemplateCriteria" >
    select count(*) from T_B_TEMPLATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_B_TEMPLATE
    <set >
      <if test="record.templateId != null" >
        TEMPLATE_ID = #{record.templateId,jdbcType=DECIMAL},
      </if>
      <if test="record.templateName != null" >
        TEMPLATE_NAME = #{record.templateName,jdbcType=VARCHAR},
      </if>
      <if test="record.templateType != null" >
        TEMPLATE_TYPE = #{record.templateType,jdbcType=CHAR},
      </if>
      <if test="record.crtDate != null" >
        CRT_DATE = #{record.crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUptDate != null" >
        LAST_UPT_DATE = #{record.lastUptDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.templateContent != null" >
        TEMPLATE_CONTENT = #{record.templateContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update T_B_TEMPLATE
    set TEMPLATE_ID = #{record.templateId,jdbcType=DECIMAL},
      TEMPLATE_NAME = #{record.templateName,jdbcType=VARCHAR},
      TEMPLATE_TYPE = #{record.templateType,jdbcType=CHAR},
      CRT_DATE = #{record.crtDate,jdbcType=TIMESTAMP},
      LAST_UPT_DATE = #{record.lastUptDate,jdbcType=TIMESTAMP},
      TEMPLATE_CONTENT = #{record.templateContent,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_B_TEMPLATE
    set TEMPLATE_ID = #{record.templateId,jdbcType=DECIMAL},
      TEMPLATE_NAME = #{record.templateName,jdbcType=VARCHAR},
      TEMPLATE_TYPE = #{record.templateType,jdbcType=CHAR},
      CRT_DATE = #{record.crtDate,jdbcType=TIMESTAMP},
      LAST_UPT_DATE = #{record.lastUptDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlz.framework.ssme.db.model.ContentTemplate" >
    update T_B_TEMPLATE
    <set >
      <if test="templateName != null" >
        TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null" >
        TEMPLATE_TYPE = #{templateType,jdbcType=CHAR},
      </if>
      <if test="crtDate != null" >
        CRT_DATE = #{crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUptDate != null" >
        LAST_UPT_DATE = #{lastUptDate,jdbcType=TIMESTAMP},
      </if>
      <if test="templateContent != null" >
        TEMPLATE_CONTENT = #{templateContent,jdbcType=CLOB},
      </if>
    </set>
    where TEMPLATE_ID = #{templateId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dlz.framework.ssme.db.model.ContentTemplate" >
    update T_B_TEMPLATE
    set TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      TEMPLATE_TYPE = #{templateType,jdbcType=CHAR},
      CRT_DATE = #{crtDate,jdbcType=TIMESTAMP},
      LAST_UPT_DATE = #{lastUptDate,jdbcType=TIMESTAMP},
      TEMPLATE_CONTENT = #{templateContent,jdbcType=CLOB}
    where TEMPLATE_ID = #{templateId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlz.framework.ssme.db.model.ContentTemplate" >
    update T_B_TEMPLATE
    set TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      TEMPLATE_TYPE = #{templateType,jdbcType=CHAR},
      CRT_DATE = #{crtDate,jdbcType=TIMESTAMP},
      LAST_UPT_DATE = #{lastUptDate,jdbcType=TIMESTAMP}
    where TEMPLATE_ID = #{templateId,jdbcType=DECIMAL}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>