<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dlz.apps.file.db.dao.FilesMapper" >
  <resultMap id="BaseResultMap" type="com.dlz.apps.file.db.model.Files" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="D_TYPE" property="dType" jdbcType="VARCHAR" />
    <result column="DATA_ID" property="dataId" jdbcType="DECIMAL" />
    <result column="F_NAME" property="fName" jdbcType="VARCHAR" />
    <result column="F_PATH" property="fPath" jdbcType="VARCHAR" />
    <result column="F_SURFIX" property="fSurfix" jdbcType="VARCHAR" />
    <result column="F_ORD" property="fOrd" jdbcType="DECIMAL" />
    <result column="F_DEL" property="fDel" jdbcType="DECIMAL" />
    <result column="F_SIZE" property="fSize" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, D_TYPE, DATA_ID, F_NAME, F_PATH, F_SURFIX, F_ORD, F_DEL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dlz.apps.file.db.model.FilesCriteria" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from S_FILES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from S_FILES
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from S_FILES
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.dlz.apps.file.db.model.FilesCriteria" >
    delete from S_FILES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dlz.apps.file.db.model.Files" >
    insert into S_FILES (ID, D_TYPE, DATA_ID, 
      F_NAME, F_PATH, F_SURFIX, 
      F_ORD, F_DEL,F_SIZE)
    values (#{id,jdbcType=DECIMAL}, #{dType,jdbcType=VARCHAR}, #{dataId,jdbcType=DECIMAL}, 
      #{fName,jdbcType=VARCHAR}, #{fPath,jdbcType=VARCHAR}, #{fSurfix,jdbcType=VARCHAR}, 
      #{fOrd,jdbcType=DECIMAL}, #{fDel,jdbcType=DECIMAL},#{fSize,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.dlz.apps.file.db.model.Files" >
    insert into S_FILES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dType != null" >
        D_TYPE,
      </if>
      <if test="dataId != null" >
        DATA_ID,
      </if>
      <if test="fName != null" >
        F_NAME,
      </if>
      <if test="fPath != null" >
        F_PATH,
      </if>
      <if test="fSurfix != null" >
        F_SURFIX,
      </if>
      <if test="fOrd != null" >
        F_ORD,
      </if>
      <if test="fDel != null" >
        F_DEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="dType != null" >
        #{dType,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null" >
        #{dataId,jdbcType=DECIMAL},
      </if>
      <if test="fName != null" >
        #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fPath != null" >
        #{fPath,jdbcType=VARCHAR},
      </if>
      <if test="fSurfix != null" >
        #{fSurfix,jdbcType=VARCHAR},
      </if>
      <if test="fOrd != null" >
        #{fOrd,jdbcType=DECIMAL},
      </if>
      <if test="fDel != null" >
        #{fDel,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select resultType="java.lang.Integer" id="countByExample" parameterType="com.dlz.apps.file.db.model.FilesCriteria" >
    select count(*) from S_FILES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update S_FILES
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.dType != null" >
        D_TYPE = #{record.dType,jdbcType=VARCHAR},
      </if>
      <if test="record.dataId != null" >
        DATA_ID = #{record.dataId,jdbcType=DECIMAL},
      </if>
      <if test="record.fName != null" >
        F_NAME = #{record.fName,jdbcType=VARCHAR},
      </if>
      <if test="record.fPath != null" >
        F_PATH = #{record.fPath,jdbcType=VARCHAR},
      </if>
      <if test="record.fSurfix != null" >
        F_SURFIX = #{record.fSurfix,jdbcType=VARCHAR},
      </if>
      <if test="record.fOrd != null" >
        F_ORD = #{record.fOrd,jdbcType=DECIMAL},
      </if>
      <if test="record.fDel != null" >
        F_DEL = #{record.fDel,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update S_FILES
    set ID = #{record.id,jdbcType=DECIMAL},
      D_TYPE = #{record.dType,jdbcType=VARCHAR},
      DATA_ID = #{record.dataId,jdbcType=DECIMAL},
      F_NAME = #{record.fName,jdbcType=VARCHAR},
      F_PATH = #{record.fPath,jdbcType=VARCHAR},
      F_SURFIX = #{record.fSurfix,jdbcType=VARCHAR},
      F_ORD = #{record.fOrd,jdbcType=DECIMAL},
      F_DEL = #{record.fDel,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlz.apps.file.db.model.Files" >
    update S_FILES
    <set >
      <if test="dType != null" >
        D_TYPE = #{dType,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null" >
        DATA_ID = #{dataId,jdbcType=DECIMAL},
      </if>
      <if test="fName != null" >
        F_NAME = #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fPath != null" >
        F_PATH = #{fPath,jdbcType=VARCHAR},
      </if>
      <if test="fSurfix != null" >
        F_SURFIX = #{fSurfix,jdbcType=VARCHAR},
      </if>
      <if test="fOrd != null" >
        F_ORD = #{fOrd,jdbcType=DECIMAL},
      </if>
      <if test="fDel != null" >
        F_DEL = #{fDel,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlz.apps.file.db.model.Files" >
    update S_FILES
    set D_TYPE = #{dType,jdbcType=VARCHAR},
      DATA_ID = #{dataId,jdbcType=DECIMAL},
      F_NAME = #{fName,jdbcType=VARCHAR},
      F_PATH = #{fPath,jdbcType=VARCHAR},
      F_SURFIX = #{fSurfix,jdbcType=VARCHAR},
      F_ORD = #{fOrd,jdbcType=DECIMAL},
      F_DEL = #{fDel,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      <if test="dbType==null">select * from ( select row_.*, rownum rownum_ from (</if>
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <if test="dbType==null"><![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]></if>
      <if test='dbType=="MYSQL"'>LIMIT #{page.begin},#{page.pageSize}</if>
    </if>
  </sql>
</mapper>