<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dlz.apps.sys.meb.dao.MebVcodeMapper" >
  <resultMap id="BaseResultMap" type="com.dlz.apps.sys.meb.model.MebVcode" >
    <id column="V_ID" property="vId" jdbcType="DECIMAL" />
    <result column="V_M_ID" property="vMId" jdbcType="DECIMAL" />
    <result column="V_CODE" property="vCode" jdbcType="CHAR" />
    <result column="V_VALID_DATE" property="vValidDate" jdbcType="TIMESTAMP" />
    <result column="V_SEND_DATE" property="vSendDate" jdbcType="TIMESTAMP" />
    <result column="V_SEND_STR" property="vSendStr" jdbcType="VARCHAR" />
    <result column="V_TYPE" property="vType" jdbcType="DECIMAL" />
    <result column="V_ACTION" property="vAction" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    V_ID, V_M_ID, V_CODE, V_VALID_DATE, V_SEND_DATE, V_SEND_STR, V_TYPE, V_ACTION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dlz.apps.sys.meb.model.MebVcodeCriteria" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from S_MEB_VCODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from S_MEB_VCODE
    where V_ID = #{vId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from S_MEB_VCODE
    where V_ID = #{vId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.dlz.apps.sys.meb.model.MebVcodeCriteria" >
    delete from S_MEB_VCODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dlz.apps.sys.meb.model.MebVcode" >
    insert into S_MEB_VCODE (V_ID, V_M_ID, V_CODE, 
      V_VALID_DATE, V_SEND_DATE, V_SEND_STR, 
      V_TYPE, V_ACTION)
    values (#{vId,jdbcType=DECIMAL}, #{vMId,jdbcType=DECIMAL}, #{vCode,jdbcType=CHAR}, 
      #{vValidDate,jdbcType=TIMESTAMP}, #{vSendDate,jdbcType=TIMESTAMP}, #{vSendStr,jdbcType=VARCHAR}, 
      #{vType,jdbcType=DECIMAL}, #{vAction,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.dlz.apps.sys.meb.model.MebVcode" >
    insert into S_MEB_VCODE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vId != null" >
        V_ID,
      </if>
      <if test="vMId != null" >
        V_M_ID,
      </if>
      <if test="vCode != null" >
        V_CODE,
      </if>
      <if test="vValidDate != null" >
        V_VALID_DATE,
      </if>
      <if test="vSendDate != null" >
        V_SEND_DATE,
      </if>
      <if test="vSendStr != null" >
        V_SEND_STR,
      </if>
      <if test="vType != null" >
        V_TYPE,
      </if>
      <if test="vAction != null" >
        V_ACTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vId != null" >
        #{vId,jdbcType=DECIMAL},
      </if>
      <if test="vMId != null" >
        #{vMId,jdbcType=DECIMAL},
      </if>
      <if test="vCode != null" >
        #{vCode,jdbcType=CHAR},
      </if>
      <if test="vValidDate != null" >
        #{vValidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="vSendDate != null" >
        #{vSendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="vSendStr != null" >
        #{vSendStr,jdbcType=VARCHAR},
      </if>
      <if test="vType != null" >
        #{vType,jdbcType=DECIMAL},
      </if>
      <if test="vAction != null" >
        #{vAction,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select resultType="java.lang.Integer" id="countByExample" parameterType="com.dlz.apps.sys.meb.model.MebVcodeCriteria" >
    select count(*) from S_MEB_VCODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update S_MEB_VCODE
    <set >
      <if test="record.vId != null" >
        V_ID = #{record.vId,jdbcType=DECIMAL},
      </if>
      <if test="record.vMId != null" >
        V_M_ID = #{record.vMId,jdbcType=DECIMAL},
      </if>
      <if test="record.vCode != null" >
        V_CODE = #{record.vCode,jdbcType=CHAR},
      </if>
      <if test="record.vValidDate != null" >
        V_VALID_DATE = #{record.vValidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.vSendDate != null" >
        V_SEND_DATE = #{record.vSendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.vSendStr != null" >
        V_SEND_STR = #{record.vSendStr,jdbcType=VARCHAR},
      </if>
      <if test="record.vType != null" >
        V_TYPE = #{record.vType,jdbcType=DECIMAL},
      </if>
      <if test="record.vAction != null" >
        V_ACTION = #{record.vAction,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update S_MEB_VCODE
    set V_ID = #{record.vId,jdbcType=DECIMAL},
      V_M_ID = #{record.vMId,jdbcType=DECIMAL},
      V_CODE = #{record.vCode,jdbcType=CHAR},
      V_VALID_DATE = #{record.vValidDate,jdbcType=TIMESTAMP},
      V_SEND_DATE = #{record.vSendDate,jdbcType=TIMESTAMP},
      V_SEND_STR = #{record.vSendStr,jdbcType=VARCHAR},
      V_TYPE = #{record.vType,jdbcType=DECIMAL},
      V_ACTION = #{record.vAction,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlz.apps.sys.meb.model.MebVcode" >
    update S_MEB_VCODE
    <set >
      <if test="vMId != null" >
        V_M_ID = #{vMId,jdbcType=DECIMAL},
      </if>
      <if test="vCode != null" >
        V_CODE = #{vCode,jdbcType=CHAR},
      </if>
      <if test="vValidDate != null" >
        V_VALID_DATE = #{vValidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="vSendDate != null" >
        V_SEND_DATE = #{vSendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="vSendStr != null" >
        V_SEND_STR = #{vSendStr,jdbcType=VARCHAR},
      </if>
      <if test="vType != null" >
        V_TYPE = #{vType,jdbcType=DECIMAL},
      </if>
      <if test="vAction != null" >
        V_ACTION = #{vAction,jdbcType=DECIMAL},
      </if>
    </set>
    where V_ID = #{vId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlz.apps.sys.meb.model.MebVcode" >
    update S_MEB_VCODE
    set V_M_ID = #{vMId,jdbcType=DECIMAL},
      V_CODE = #{vCode,jdbcType=CHAR},
      V_VALID_DATE = #{vValidDate,jdbcType=TIMESTAMP},
      V_SEND_DATE = #{vSendDate,jdbcType=TIMESTAMP},
      V_SEND_STR = #{vSendStr,jdbcType=VARCHAR},
      V_TYPE = #{vType,jdbcType=DECIMAL},
      V_ACTION = #{vAction,jdbcType=DECIMAL}
    where V_ID = #{vId,jdbcType=DECIMAL}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>