<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dlz.apps.notice.db.dao.MailMapper" >
  <resultMap id="BaseResultMap" type="com.dlz.apps.notice.db.model.Mail" >
    <id column="M_ID" property="mId" jdbcType="DECIMAL" />
    <result column="M_TITLE" property="mTitle" jdbcType="VARCHAR" />
    <result column="M_CYCLE" property="mCycle" jdbcType="DECIMAL" />
    <result column="M_MEMBER" property="mMember" jdbcType="VARCHAR" />
    <result column="M_EMAIL" property="mEmail" jdbcType="VARCHAR" />
    <result column="M_NUMBER" property="mNumber" jdbcType="DECIMAL" />
    <result column="M_ADDDATE" property="mAdddate" jdbcType="TIMESTAMP" />
    <result column="M_UPDATE" property="mUpdate" jdbcType="TIMESTAMP" />
    <result column="M_SENDDATE" property="mSenddate" jdbcType="TIMESTAMP" />
    <result column="M_TYPE" property="mType" jdbcType="DECIMAL" />
    <result column="M_CONTENT" property="mContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    M_ID, M_TITLE, M_CYCLE, M_MEMBER, M_EMAIL, M_NUMBER, M_ADDDATE, M_UPDATE, M_SENDDATE, 
    M_TYPE, M_CONTENT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dlz.apps.notice.db.model.MailCriteria" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from JOB_MAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from JOB_MAIL
    where M_ID = #{mId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from JOB_MAIL
    where M_ID = #{mId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.dlz.apps.notice.db.model.MailCriteria" >
    delete from JOB_MAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dlz.apps.notice.db.model.Mail" >
    insert into JOB_MAIL (M_ID, M_TITLE, M_CYCLE, 
      M_MEMBER, M_EMAIL, M_NUMBER, 
      M_ADDDATE, M_UPDATE, M_SENDDATE, 
      M_TYPE, M_CONTENT)
    values (#{mId,jdbcType=DECIMAL}, #{mTitle,jdbcType=VARCHAR}, #{mCycle,jdbcType=DECIMAL}, 
      #{mMember,jdbcType=VARCHAR}, #{mEmail,jdbcType=VARCHAR}, #{mNumber,jdbcType=DECIMAL}, 
      #{mAdddate,jdbcType=TIMESTAMP}, #{mUpdate,jdbcType=TIMESTAMP}, #{mSenddate,jdbcType=TIMESTAMP}, 
      #{mType,jdbcType=DECIMAL}, #{mContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dlz.apps.notice.db.model.Mail" >
    insert into JOB_MAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mId != null" >
        M_ID,
      </if>
      <if test="mTitle != null" >
        M_TITLE,
      </if>
      <if test="mCycle != null" >
        M_CYCLE,
      </if>
      <if test="mMember != null" >
        M_MEMBER,
      </if>
      <if test="mEmail != null" >
        M_EMAIL,
      </if>
      <if test="mNumber != null" >
        M_NUMBER,
      </if>
      <if test="mAdddate != null" >
        M_ADDDATE,
      </if>
      <if test="mUpdate != null" >
        M_UPDATE,
      </if>
      <if test="mSenddate != null" >
        M_SENDDATE,
      </if>
      <if test="mType != null" >
        M_TYPE,
      </if>
      <if test="mContent != null" >
        M_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mId != null" >
        #{mId,jdbcType=DECIMAL},
      </if>
      <if test="mTitle != null" >
        #{mTitle,jdbcType=VARCHAR},
      </if>
      <if test="mCycle != null" >
        #{mCycle,jdbcType=DECIMAL},
      </if>
      <if test="mMember != null" >
        #{mMember,jdbcType=VARCHAR},
      </if>
      <if test="mEmail != null" >
        #{mEmail,jdbcType=VARCHAR},
      </if>
      <if test="mNumber != null" >
        #{mNumber,jdbcType=DECIMAL},
      </if>
      <if test="mAdddate != null" >
        #{mAdddate,jdbcType=TIMESTAMP},
      </if>
      <if test="mUpdate != null" >
        #{mUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="mSenddate != null" >
        #{mSenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="mType != null" >
        #{mType,jdbcType=DECIMAL},
      </if>
      <if test="mContent != null" >
        #{mContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select resultType="java.lang.Integer" id="countByExample" parameterType="com.dlz.apps.notice.db.model.MailCriteria" >
    select count(*) from JOB_MAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update JOB_MAIL
    <set >
      <if test="record.mId != null" >
        M_ID = #{record.mId,jdbcType=DECIMAL},
      </if>
      <if test="record.mTitle != null" >
        M_TITLE = #{record.mTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.mCycle != null" >
        M_CYCLE = #{record.mCycle,jdbcType=DECIMAL},
      </if>
      <if test="record.mMember != null" >
        M_MEMBER = #{record.mMember,jdbcType=VARCHAR},
      </if>
      <if test="record.mEmail != null" >
        M_EMAIL = #{record.mEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.mNumber != null" >
        M_NUMBER = #{record.mNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.mAdddate != null" >
        M_ADDDATE = #{record.mAdddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mUpdate != null" >
        M_UPDATE = #{record.mUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mSenddate != null" >
        M_SENDDATE = #{record.mSenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mType != null" >
        M_TYPE = #{record.mType,jdbcType=DECIMAL},
      </if>
      <if test="record.mContent != null" >
        M_CONTENT = #{record.mContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update JOB_MAIL
    set M_ID = #{record.mId,jdbcType=DECIMAL},
      M_TITLE = #{record.mTitle,jdbcType=VARCHAR},
      M_CYCLE = #{record.mCycle,jdbcType=DECIMAL},
      M_MEMBER = #{record.mMember,jdbcType=VARCHAR},
      M_EMAIL = #{record.mEmail,jdbcType=VARCHAR},
      M_NUMBER = #{record.mNumber,jdbcType=DECIMAL},
      M_ADDDATE = #{record.mAdddate,jdbcType=TIMESTAMP},
      M_UPDATE = #{record.mUpdate,jdbcType=TIMESTAMP},
      M_SENDDATE = #{record.mSenddate,jdbcType=TIMESTAMP},
      M_TYPE = #{record.mType,jdbcType=DECIMAL},
      M_CONTENT = #{record.mContent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlz.apps.notice.db.model.Mail" >
    update JOB_MAIL
    <set >
      <if test="mTitle != null" >
        M_TITLE = #{mTitle,jdbcType=VARCHAR},
      </if>
      <if test="mCycle != null" >
        M_CYCLE = #{mCycle,jdbcType=DECIMAL},
      </if>
      <if test="mMember != null" >
        M_MEMBER = #{mMember,jdbcType=VARCHAR},
      </if>
      <if test="mEmail != null" >
        M_EMAIL = #{mEmail,jdbcType=VARCHAR},
      </if>
      <if test="mNumber != null" >
        M_NUMBER = #{mNumber,jdbcType=DECIMAL},
      </if>
      <if test="mAdddate != null" >
        M_ADDDATE = #{mAdddate,jdbcType=TIMESTAMP},
      </if>
      <if test="mUpdate != null" >
        M_UPDATE = #{mUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="mSenddate != null" >
        M_SENDDATE = #{mSenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="mType != null" >
        M_TYPE = #{mType,jdbcType=DECIMAL},
      </if>
      <if test="mContent != null" >
        M_CONTENT = #{mContent,jdbcType=VARCHAR},
      </if>
    </set>
    where M_ID = #{mId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlz.apps.notice.db.model.Mail" >
    update JOB_MAIL
    set M_TITLE = #{mTitle,jdbcType=VARCHAR},
      M_CYCLE = #{mCycle,jdbcType=DECIMAL},
      M_MEMBER = #{mMember,jdbcType=VARCHAR},
      M_EMAIL = #{mEmail,jdbcType=VARCHAR},
      M_NUMBER = #{mNumber,jdbcType=DECIMAL},
      M_ADDDATE = #{mAdddate,jdbcType=TIMESTAMP},
      M_UPDATE = #{mUpdate,jdbcType=TIMESTAMP},
      M_SENDDATE = #{mSenddate,jdbcType=TIMESTAMP},
      M_TYPE = #{mType,jdbcType=DECIMAL},
      M_CONTENT = #{mContent,jdbcType=VARCHAR}
    where M_ID = #{mId,jdbcType=DECIMAL}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>