<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
    <!-- 控制台日志 -->
    <appender name="StdoutAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level[%thread] %logger{24}:%line %cyan(%m) %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <logger name="com.dlz" level="trace" addtivity="false"/>
    <root level="warn">
        <appender-ref ref="StdoutAppender"/>
    </root>
</configuration>
